@charset "UTF-8";

/*___________________________________
common style
___________________________________*/
body{
  font-size: 18px;
  background-size: 20px 20px;
	background-color: #cdcdd47d;
	/*background-image:
	linear-gradient(45deg, rgba(56, 142, 60, 0.5) 25%, transparent 25%,
	 transparent 50%, rgba(56, 142, 60, 0.5) 50%, rgba(56, 142, 60, 0.5) 75%,
	 transparent 75%, transparent),
	linear-gradient(-45deg, rgba(56, 142, 60, 0.5) 25%, transparent 25%,
	 transparent 50%, rgba(56, 142, 60, 0.5) 50%, rgba(56, 142, 60, 0.5) 75%,
	 transparent 75%, transparent);*/
   background: url(../img/white-nuri.jpg)no-repeat center/cover;
   font-family: 'Quicksand','TsukuARdGothic-Regular', sans-serif;
 }

a{
  display: block;
  color: #000;
}

ul,
li{
  padding: 0;
  margin: 0;
  list-style: none;
}

h2{
  text-align: center;
  padding: 60px 0 0;
  border-bottom: solid 1px;
  font-size: 30px;
}

.container{
  display: flex;
}

/*___________________________________
nav style
___________________________________*/
.nav-area{
  height: 100vh;
  width:12%;
  background-color: rgba(255,255,255,0.5);
}

#menu-area{
  text-align: center;
  padding: 80px 0 0;
}

#menu-area li{
  margin: 40px 0 0;
  list-style: none;
}

/*___________________________________
main style
___________________________________*/
.main{
  display: block;
  width: 88%;
  height: 100vh;
  overflow-y: scroll;
}

#home-area,
#profile-area,
#work-area{
  margin: 0 100px;
}

/*___________________________________
home style
___________________________________*/
#home-area{
  height: 100vh;
  position: relative;
}

#home-visual img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/*___________________________________
profile style
___________________________________*/
#pro-block{
  display: flex;
  height: 600px;
  background-color: #FFF;
  justify-content: center;
  padding: 0 100px;
  font-size: 18px;
  opacity: 0.8;
  margin-top: 60px;
}

.profile-text{
  margin: auto;
}

.profile-text dl{
  width: 500px;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  padding-left: 60px;
}

.profile-text dt{
  padding: 0 0 20px;
  width: 30%;
}

.profile-text dd{
  font-size: 12px;
  margin: 0 0 20px;
  width: 70%;
}

#profile-img{
  height: fit-content;
  margin: auto;
}

/*___________________________________
work-area style
___________________________________*/
.work-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px 0 0;
}

.work{
  width: 30%;
}

.work-caption{
  margin: 10px 0 50px;
  text-align: center;
}
