@charset "UTF-8";

/*_________________________________
common style
_________________________________*/
body{
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: #FFF;
}

ul,
li{
  padding: 0;
  margin: 0;
  list-style: none;
}

h2{
  border-bottom: 3px solid;
  font-size: 16px;
}

h1{
  margin: 6vh 0 0;
}

/*_________________________________
overlay style
_________________________________*/
#overlay{
  background-color: #000;
  color: #FFF;
  width: 25%;
  height: 100vh;
  padding: 30px 0;
  display: none;
  position: absolute;
  z-index: 999;
  cursor: pointer;
}

#overlay-listbox li{
  margin: 50px 0 0;
  font-size: 30px;
}

#overlay-listbox li+li{
  margin: 10px 0 0 ;
}

#close-icon img{
  padding: 0 0 0 30px;
}

/*_________________________________
icon-area style
_________________________________*/
#logo-area{
  display: flex;
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0 0  30px;
}

#logo{
  margin: 0 0 0 20px;
}



/*_________________________________
main style
_________________________________*/
section{
  height: 100vh;
  display: flex;
}

.left-area{
  width: 50vw;
  overflow: hidden;
}

.right-area{
  width: 50%;
  padding: 0 6vw 50px;
  overflow-y: scroll;
}

#menu-area,
#exterior-area,
#event-area,
#access-area,
#reservation-area{
  display: none;
}

/*_________________________________
home style
_________________________________*/
#home-area .left-area{
  background: url(../img/pancake01.jpg)no-repeat center/cover;
}

#home-text h1{
  width: fit-content;
  margin: 12vh auto 0;
}

#home-text p{
  width: fit-content;
  margin: 60px auto 0;
  line-height: 3;
}



/*_________________________________
menu style
_________________________________*/
#menu-area .left-area{
  background: url(../img/cooking.jpg)no-repeat center/cover;
}

#menu-li h2{
  margin: 30px 0 0;
  width: fit-content;
  border-bottom: solid 2px;
}

#menu-li h3{
  font-size: 0.8rem;
  margin: 20px 0 0;
}

#menu-li p{
  font-size: 0.6rem;
  margin: 0;
}

#tax-area p{ 
  font-size: 0.8rem;
  padding: 50px 0 0;
}

/*_________________________________
exterior style
_________________________________*/
#exterior-area .left-area{
  background: url(../img/exe-left.jpg)no-repeat center/cover;
}

#exterior-img{
  margin: 6vh 0 0;
}


/*_________________________________
event style
_________________________________*/
#event-area .left-area{
  background: url(../img/party05.jpg)no-repeat center/cover;
}

.birthday-area,
.tasting-area,
.other-area{
  margin: 100px 0 0;
}

#event-list{
  font-size: 0.8rem;
}

#event-list h2{
  padding: 0 30px;
  width: fit-content;
  border-bottom: solid 2px;
}

/*_________________________________
access style
_________________________________*/
#access-area .left-area{
  background: url(../img/icetea.jpg)no-repeat center/cover;
}

#access-box{
  margin: 50px 0 0;
}

#access-text h2{
  border-bottom: solid 2px;
}

.access-list li{
  margin: 10px 0 0;
}

.access-list span{
  margin: 0 0 0 14px;
}

#access-map{
  margin: 10px 0 0;
}

/*_________________________________
reservation style
_________________________________*/
#reservation-area .left-area{
  background: url(../img/pancake03.jpg)no-repeat center/cover;
}

#reservation-box{
  margin: 30px 0 0;
  padding: 15px 0;
  background-color: #fffaf0;
}

.name-box,
.email-box,
.email2-box,
.comment-box,
.go-box{
  margin: 10px 0 0;
}

label{
  width: 170px;
  text-align: right;
}

#thema,
#name,
#mail,
#mail2,
#comment{
  margin: 0 0 0 14px;
}

.comment-box label{
  vertical-align: top;
}

.go-box{
  width: fit-content;
  margin: 30px auto 0;
}


/**********_________________________________
 mobile style
_________________________________***********/
@media screen and (max-width:480px) {
  /*_________________________________
  overlay style
  _________________________________*/
  #overlay{
    width: 50%;
    height: 100vh;
    position: fixed;
  }
  
  #overlay-listbox li{
    font-size: 18px;
  }

  /*_________________________________
  icon-area style
  _________________________________*/
  #logo-area{
    position: fixed;
  }

  /*_________________________________
  main style
  _________________________________*/
  section{
    display: block;
  }
  
  .left-area{
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: unset;
  }
  
  .right-area{
    width: 100vw;
    padding: 0 20px 50px;
    overflow-y: unset;
  }

  /*_________________________________
  home style
  _________________________________*/ 
  #home-text p{
    font-size: 14px;
    line-height: 2;
  }

  /*_________________________________
  menu style
  _________________________________*/
  
  /*_________________________________
  exterior style
  _________________________________*/

  /*_________________________________
  event style
  _________________________________*/
  .birthday-area,
  .tasting-area,
  .other-area{
    margin: 80px 0 0;
  }
  
  #event-list h2{
    text-align: center;
    margin: auto;
  }

  #event-list p{
    margin: 20px 0 0;
  }

  /*_________________________________
  access style
  _________________________________*/
  .access-list li{
    font-size: 14px;
  }

  /*_________________________________
  reservation style
  _________________________________*/
  .name-box,
  .email-box,
  .email2-box,
  .comment-box,
  .go-box{
    margin: 10px auto 0;
  }
  
  label{
    display: none;
  }
  
  .go-box{
    margin: 20px auto 0;
  }



}