@charset "UTF-8";

/*_________________________________
common style
_________________________________*/
body{
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-color: #f5f5f5;
}

a{
  color: #000;
}

h2{
  font-size: 28px;
  border-bottom: solid 2px;
  text-align: center;
}

/*_________________________________
header style
_________________________________*/
#back-btn{
  position: fixed;
  margin: 50px 0 0 50px;
  background: none;
  border: none;
}

/*_________________________________
main style
_________________________________*/
#main-area{
  width: 50vw;
  margin: auto;
  padding: 100px 0;
  text-align: center;
}

#contents{
  margin: 50px auto 0;
  display: inline-block;
  text-align: left;
  line-height: 32px;
}

#item-area{
  display: inline-block;
  text-align: left;
}

.item-name{
  margin-top: 30px;
  border-left: double 6px;
  padding: 2px 10px;
}

.item{
  margin-top: 10px;
}

#comp-area{
  margin-top: 30px;
}

#comp-area div{
  margin: 30px 0 0;
}